<%- include('partials/header') %>
<div class="container">
<h1 class="mx-auto" META name="keywords" content="CV Aurore Leblois">Mon CV</h1>
<article class="half">
    <span style="font-size: 16em; color:#17a2b8 ;"class="hidden">
        <i class="fas fa-graduation-cap"></i>
      </span>
    <h2 META name="keywords" content="formation Aurore Leblois">Ma formation</h2>
        <%for (const ecol of ecole) {%> 
            <h3><%=ecol.ecole%></h3>
                <h4><%=ecol.niv_sortie%></h4>
                    <h5><%='Du  '+ecol.begin_date + ' au '+ ecol.end_date%></h5>
                    <p><%=ecol.description%></p>
        <%}%>
</article>
<article class="half">
    <h2 META name="keywords" content="expérience Aurore Leblois">Mes expériences</h2>
        <%for(exp of experience){%>
            <h3><%=exp.poste%></h3>
                <h4><%=exp.entreprise%></h4>
                    <h5><%='Du  '+exp.begin_date + ' au '+exp.end_date%></h5>
                    <p><%=exp.description%></p>
        <%}%>
</article>
        <article class="half">
            <span style="font-size: 16em; color:#17a2b8 ;" class="hidden">
                <i class="fas fa-language"></i>
              </span> 
          
    <h2  META name="keywords" content="langues Aurore Leblois">Mes langues connues</h2>
        <ul>
            <%for(const lg of lang){%>
   
                <li><%=lg.langage%> : <%=lg.niveau%></li>

            <%}%>
        </ul>
    </article>
    <article class="half">
    <h2 META name="keywords" content="maitrise informatique Aurore Leblois">Mes technologies</h2>
        <ul class="bars rows">
  
            <%for (const it of IT){%>
                <li class="col-6"><%=it.IT %> <div class="progress">
                    <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" style="width: <%=it.niv%>%" aria-valuenow=<%=it.niv%> aria-valuemin="0" aria-valuemax="100"></div>
                </div></li>
            <%}%>
        </ul>
    </article>
</div>
<%- include('partials/footer') %>